* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mobile-icons {
  display: none;
}

.company-bar {
  display: none;
}

a {
  text-decoration: none;
  color: #293040;
  transition: all 0.2s ease-in-out;
}
a:hover, a:target {
  color: #003a7f;
}

li {
  list-style-type: none;
}

.link-with-img {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3em;
}

.container {
  width: 75vw;
  margin: 0 auto;
}

.search {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.search input {
  width: 404px;
  height: 40px;
  border-radius: 42px;
  border: none;
  background-color: #f2f2f4;
  text-indent: 1em;
  outline: none;
}
.search .circle {
  background-color: #0a7ec7;
  border-radius: 100%;
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-35px);
  cursor: pointer;
}
.search .circle img {
  width: 20px;
  height: 20px;
  margin: 0 auto;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 118px;
  max-height: 118px;
  position: relative;
}
header::before {
  content: "";
  position: absolute;
  top: 0;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, #ffbc03 0%, #ffbc03 25%, #48a332 25%, #48a332 50%, #00b8f0 50%, #00b8f0 75%, #e03bbc 75%, #e03bbc 100%);
}
header .upper-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2.5em;
  padding-bottom: 1.5em;
}
header .upper-header .right-side {
  gap: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
header .upper-header .pictogram {
  margin-left: 5px;
}
header .upper-header ul {
  display: flex;
  gap: 1em;
}
header .upper-header ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
}
header .upper-header ul li img {
  margin-top: -2px;
}
header .upper-header ul li:not(:last-child)::after {
  content: "|";
  color: #f2f2f4;
  height: 20px;
  transform: translateY(-4px) translateX(6px);
}
header .menu {
  background-color: #f2f2f4;
  color: #293040;
  max-height: 50px;
}
header .menu ul {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 1em;
  width: auto;
  margin-left: 0.5em;
}
header .menu span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .menu a {
  text-transform: uppercase;
  font-weight: 800;
  padding: 0.7em;
}
header .menu a:hover {
  background-color: #003a7f;
  color: #ffffff;
  border-radius: 0.2em 0.2em 0 0;
}
header .menu .add-new {
  font-weight: 700;
  text-transform: none;
  color: #ffffff;
  display: flex;
  gap: 0.3em;
}
header .menu .blue-button {
  background-color: #0a7ec7;
}
header .dropdown {
  background-color: #003a7f;
  position: relative;
}
header .dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
header .dropdown .dropdown li {
  display: inline-block;
  position: relative;
}
header .dropdown a {
  color: rgba(255, 255, 255, 0.5);
  text-transform: none;
  font-weight: 700;
  padding: 10px;
  position: relative;
}
header .dropdown a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  border-width: 8px 8px 0 0;
  border-style: solid;
  border-color: #ffffff;
  opacity: 0;
}
header .dropdown a:hover::after {
  opacity: 1;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.hover {
  background-color: #003a7f;
  color: #ffffff;
  border-radius: 0.2em 0.2em 0 0;
}

@media screen and (max-width: 375px) {
  .hamburger-menu {
    cursor: pointer;
  }
  header .logo {
    width: 6em;
    margin-left: 0.5em;
  }
  header .pictogram {
    width: 0.7em;
    margin-left: -10px;
  }
  header .menu {
    display: none;
  }
  header .container {
    width: 100%;
  }
  header .mobile-icons {
    display: flex;
    cursor: pointer;
  }
  header .mobile-icons ul {
    display: flex;
    gap: 0.5em;
  }
  header .upper-header {
    padding-top: 1.3em;
    border-bottom: 1px solid #c9c9d1;
    padding-bottom: 0.75em;
  }
  header .logo,
  header .pictogram {
    transform: translateX(0.5em);
  }
  header .right-side {
    transform: translateX(-0.5em);
  }
  header .right-side .info-bar {
    display: none;
  }
  header .right-side .search {
    display: none;
  }
  header ul {
    display: flex;
    transform: translateX(-0.5em);
  }
  header ul li {
    background-color: #f2f2f4;
    width: 38px;
    height: 38px;
    border-radius: 100%;
  }
  header ul li:not(:last-child)::after {
    content: none !important;
  }
  header .company-bar {
    display: flex;
    padding: 0.8em;
    box-shadow: 0 10px 20px #f2f2f4;
  }
  header .company-bar span {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.8em;
    width: 100%;
  }
  header .company-bar span .circle {
    width: 26px;
    height: 26px;
    background-color: #f2f2f4;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  header .company-bar span .circle img {
    background-color: #f2f2f4;
    width: 14px;
    height: 14px;
    border-radius: 50%;
  }
  header .company-bar span .arrow {
    margin-left: auto;
  }
  header .company-bar span h3 {
    font-weight: 600;
    font-size: 0.9em;
  }
  header .mobile-menu header::before {
    background: none;
  }
  header .mobile-menu nav ul {
    display: flex;
    flex-direction: column;
  }
  header .mobile-menu nav ul li {
    background: none;
    text-transform: uppercase;
    font-weight: 800;
  }
  header .mobile-menu .search {
    padding: 0.3em;
    padding-top: 1.5em;
    margin-left: 0.5em;
    padding-right: 0;
    margin-right: 0;
  }
  header .mobile-menu .search .circle {
    width: 33px;
  }
  header .mobile-menu header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
    width: 100%;
    height: 60px;
    box-shadow: 0 8px 20px #f2f2f4;
  }
  header .mobile-menu header h2 {
    font-size: 1em;
    padding-left: 0.5em;
    height: 25px;
  }
  header .mobile-menu header img {
    width: 30px;
    height: 30px;
    transform: rotate(45deg) translateX(-10px);
    cursor: pointer;
  }
}

/*# sourceMappingURL=styles.css.map */
